body {
    background-color: #A6F4DC;
    background-image: url("/images/back.png");
    background-size: 100%;
    font-family: 'Share Tech', sans-serif;
}

.navbar {
    
    background-color: #832161;

}

/* .nav-link {

    text-align: center;

} */


#accountConfig{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 5px;
    text-align: center;
}

.indexPic {
    height: 100px;
    width: auto;
}

#createAcc {
    margin-bottom: 5px;
}

#accounts{
    margin-top: 30px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 5px;
    text-align: center;
}

#i-close {
    cursor:pointer;
}

.iconB {
    cursor:pointer;
}

.graff1 {
    margin-top: 20px;
}


td {
    text-transform: capitalize;
}

.accTot {
    margin-top: 30px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 5px;
}

#expense, #account, #overview {

    cursor: pointer;

}





