body {
    background-color: #F4F7FA;
}

.navbar {
    background-color: #E2F2FD;
}

#accountConfig{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 5px;
    text-align: center;
}



