
<div class="col-md-12 col-sm-10" id="accountConfig">
    <h3>Account Configuration</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>

