<div class="col-lg-2"></div>

<div class="col-lg-8 card-deck mx-auto">

    <div class="card">

        <div class="card-body">

            <h2 class="card-title text-center">NEW EXPENSE</h2>

            <form class="card-text">

                <div class="form-group">
                    <label for="expName">Name</label>
                    <input type="name" class="form-control" id="expName" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="expAccount">Account</label>
                    
                    <select class="custom-select" id="expSelect">
                        <option selected disabled>Select an account type</option>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                        <option value="Wallet">Wallet</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="expType">Type</label>
                    <input type="name" class="form-control" id="expType" placeholder="Type">
                </div>

                <div class="form-group">
                    <label for="expAmount">Amount</label>
                    <input type="name" class="form-control" id="expAmount" placeholder="Amount">
                </div>

                <div class="form-group">
                    <label for="expDate">Date</label>
                    <input type="date" class="form-control" id="expDate" placeholder="Date">
                </div>

                <button type="submit" class="btn btn-primary" id="submitExp">Submit</button>
            </form>

        </div>

    </div>

</div>

<div class="col-lg-2"></div>