<nav class="navbar container-fluid">

    <div class="col-lg-3">

        <a class="navbar-brand">

            <img src="/images/MtLogo2.png" width="40" height="40" class="d-inline-block align-top" alt="logo">

            <span class="text-white" style="font-size: 2rem;">MoneyTime</span>

        </a>

    </div>

</nav>